$color-smoothblack: #2E2F2F;
$color-blacklight: #5D5D5D;
$color-black: #000;
$color-mid-blue: #316EEF;
$color-blue: #1B3979;
$color-alert: #D83E00;


$font-main: "Public Banner";
$font-graphik: "Graphik";
$font-publico: "Publico";


$fzm: 12.9px;
$fz: 14.4px;
$fz2: 16.1px;
$fz3: 20px;
$fz4: 31.25px;
$fz5: 25px;


$bdr: 8px;