$color-main: #2E2F2F;
$color-mid-blue: #316EEF;
$color-blue: Blue;



$font-main: "Public Banner";
$font-graphik: "Graphik";
$font-publico: "Publico";


$fz: 14.4px;
$fz2: 16.1px;
$fz3: 20px;
$fz4: 31.25px;


$bdr: 8px;